<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Hello {{user.fullname}}, you requested to reset your password.
    </div>
    <div>
        To reset your password, visit the following link:
        {{url_for('app.auth.reset_token', token=token, _external=True)}}
    </div>

    <div>
        If you did not make this request then simply ignore this email. <br>
        Do not reply this mail.
    </div>
Manager, <br>
Alium Resume Builder <br>
{{website}}

</body>
</html>