<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rquest Password Reset</title>
    <!-- <a href="https://icons8.com/icon/17949/google"></a> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-info"> 
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </header>


    <div class = "container">
        <div id = "main-content">
            <h2>Request for a reset password mail!</h2>

            <form method="POST">
                {{ form.hidden_tag() }}
                <div class = "form-group">
                    {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form.email(id = "email", 
                                class="form-control",
                                id="exampleInputEmail1",  
                                placeholder="Enter Your Email Address",
                                **{'aria-describedby':'emailHelp'}) }}
                    <!-- <input 
                        id = "email" 
                        type="email" 
                        class="form-control" 
                        id="exampleInputEmail1" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter Your Email Address" 
                        name="email"> -->
                </div>
                {{form.submit(class="btn btn-primary", id = "submit-btn")}}
                <!-- <button 
                    type="submit" 
                    class="btn btn-primary" 
                    id = "submit-btn">Sign In</button> -->
            </form>


        </div>

        <div id = "large" class = "visible-md visible-lg">
            <img class = "img-fluid" id = "main-img" src = "{{url_for('static', filename='image/Group 51.png')}}">
        </div>
    </div>

    





    <!-- jQuery (Bootstrap JS plugins depend on it) -->
    <script src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>