<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- <a href="https://icons8.com/icon/17949/google"></a> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/assets/navbar.css">
</head>
<body>
    <nav>
        <div class="nav-image">
            <img src="../static/assets/images/Logo 2.png" alt="Alium Logo" width="97px" height="59px">
        </div>
        <div class="navbar-contents">
            <a href="{{url_for('app.main.templates')}}">Templates</a>
            <a href="">Blog</a>
            <a href="">Contact Us</a>
            {% if current_user.is_authenticated %}
                <span id="sign-up">
                    <a href="{{url_for('app.auth.logout')}}">Log Out</a>
                </span>
            {% else %}
                <span id="sign-in">
                    <a href="{{url_for('app.auth.login')}}"> Sign In</a>
                </span>
                <span id="sign-up">
                    <a href="{{url_for('app.auth.signup')}}">Sign Up</a>
                </span>
            {% endif %}
        </div>
    </nav>
    <div class="mobilenavbar">
    <div class="mobilenav">
        <img src="../static/assets/images/Logo 2.png" alt="Alium Logo" width="97px" height="59px"> 
        <div id="hamburger" onclick="clickOn()">
            <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="26" height="4" rx="2" fill="#1E90FF"/>
                <rect y="8" width="26" height="4" rx="2" fill="#1E90FF"/>
                <rect y="16" width="26" height="4" rx="2" fill="#1E90FF"/>
                </svg>
        </div> 
    </div>
    <div class="dropdown">
        <div class="dropdown-content">
            <a href="{{url_for('app.main.templates')}}">Templates</a>
            <a href="">Blog</a>
            <a href="">Contact Us</a>
            {% if current_user.is_authenticated %}
                <span id="sign-up">
                    <a href="{{url_for('app.auth.logout')}}">Log Out</a>
                </span>
            {% else %}
                <span id="sign-in">
                    <a href="{{url_for('app.auth.login')}}"> Sign In</a>
                </span>
                <span id="sign-up">
                    <a href="{{url_for('app.auth.signup')}}">Sign Up</a>
                </span>
            {% endif %}
        </div>
    </div>
</div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-info"> 
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div class = "container">
        <div id = "main-content">
            <h2>You're just a sign up away from being hired.</h2>

            <div class = "sign-up">
                <p>Already have an account?</p>
                <a style="text-decoration:none;" href = "{{url_for('app.auth.login')}}" id = "signUp">sign in</a>
            </div>


            <a href = "{{url_for('app.auth.login_google')}}" id = "google-signin"><img src="../static/image/Groupg.png" width = "20" height = "18"/>  sign up with google</a>

            <a href = "{{url_for('app.auth.login_linkedin')}}" id = "linkedin-signin"><img src = "../static/image/Groupl.png" width = "20" height = "18"/>  sign up with linkedin</a>

            <p class = "or">OR</p>

            <form method="POST">
                {{ form.hidden_tag() }}
                <div class = "form-group">
                    {% if form.firstname.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{form.firstname(id = "name", 
                            class = "form-control", placeholder="What should we call you" )}}
                    <!-- <input 
                        id = "name" 
                        type = "text" 
                        class = "form-control" 
                        placeholder="Enter Your Fullname" 
                        name="fullname"> -->
                </div>
                <div class = "form-group">
                    {% if form.lastname.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{form.lastname(id = "name", 
                            class = "form-control", placeholder="Let's know your great last name" )}}
                    <!-- <input 
                        id = "name" 
                        type = "text" 
                        class = "form-control" 
                        placeholder="Enter Your Fullname" 
                        name="fullname"> -->
                </div>
                <div class = "form-group">
                    {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{form.email(id = "email", class="form-control", 
                            id="exampleInputEmail1", placeholder="We'd like to know your great email",
                            **{'aria-describedby':"emailHelp"})}}
                    <!-- <input 
                        id = "email" 
                        type="email" 
                        name="email"
                        class="form-control" 
                        id="exampleInputEmail1" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter Your Email Address"> -->
                </div>
                <div class = "form-group">
                    {% if form.password.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{form.password(id = "email", class="form-control", 
                            id="exampleInputEmail1",
                            placeholder="This has to be a secret" )}}
                    <!-- <input 
                        id = "password" 
                        name="password"
                        type="password" 
                        class="form-control" 
                        id="exampleInputPassword1" 
                        placeholder="Enter Your Password"> -->
                </div>
                <div class="form-group">
                    {% if form.confirm_password.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{form.confirm_password(id = "password", class="form-control", 
                            id="exampleInputEmail1", 
                            placeholder="Re-enter password")}}
                </div>
                {{form.submit(class='btn btn-primary', id='submit-btn')}}
                <!-- <button 
                    type="submit" 
                    class="btn btn-primary" 
                    id = "submit-btn">Sign Up</button> -->
            </form>

            <footer class = "panel-footer">
                    <p>By signing up you agree to Alium's terms and conditions. You can read them here <a id = "footer-link" href = "#">Privacy Policy | Terms and Conditions</a> but we both know you won't.</p>
            </footer>

        </div>

        <div id = "large" class = "visible-md visible-lg">
            <img class = "img-fluid" id = "main-img" src = "{{url_for('static', filename='image/Group 51.png')}}">
        </div>
    </div>

    <hr>
    <footer>
        <div class="nav-image">
            <img src="../static/assets/images/Logo 2.png" alt="Alium Logo" width="97px" height="59px">
        </div>
        <div class="popular">
            <div class="head">
                <h3>Popular Links</h3><span id="next" onclick="reveal()"><i class="fas fa-chevron-right"></i></span>
            </div>
            <div class="footerlinks">
                <a href="{{url_for('app.main.templates')}}">Templates</a>
            <a href="">Resume Builder</a>
            <a href="">Blog</a>
            <a href="">Contact Us</a>
            </div>
        </div>
        <div class="company">
            <div class="head">
                <h3>Company</h3><span onclick="reveal1()"><i class="fas fa-chevron-right"></i></span>
            </div>
            <div class="footerlinks1">
                <a href="">About Us</a>
            <a href="">Services</a>
            <a href="">The Team</a>
            <a href="">Reservations</a>
            </div>
        </div>
        <div class="contact">
            <div class="head">
                <h3>Contact Us</h3><span onclick="reveal2()"><i class="fas fa-chevron-right"></i></span>
            </div>
            <div class="footerlinks2">
            <a href="{{url_for('app.main.help')}}">Help</a>
            <a href="{{url_for('app.main.help')}}">FAQs</a>
            <a href="{{url_for('app.main.help')}}">Inquiries</a>
            </div>
        </div>
        <div class="socials">
            <h3>Socials</h3>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
    <hr>
    <div class="last">
        <a href=""><p>Terms and Conditions</p></a> 
        <a href=""><p>Privacy Policy</p></a> 
    </div>





    
</body>
<!-- jQuery (Bootstrap JS plugins depend on it) -->
<script src="../static/js/jquery-2.1.4.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/assets/app.js"></script>
<script src="https://kit.fontawesome.com/dc7f1f050e.js" crossorigin="anonymous"></script>
</html>