<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <!-- <a href="https://icons8.com/icon/17949/google"></a> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header>

    </header>

    <div class = "container" id = "main-con">
        <div class = "top-heading text-center">
            <h2>Let us get you your dream job in 3 steps.</h2>
            <p>It is as easy as 1, 2, yes you get the point, shall we?</p>
        </div>

        <div class = "row">
            <section id = "step-one" class = "steps col-sm-4 text-center">
                <img class = "img-fluid" src = "{{url_for('static', filename='image/Template.png')}}" width = "100" height = "100">
                <h3>Step 1</h3>
                <p>Select your preferred template</p>
                <div class = "line visible-sm visible-md visible-lg"><img class = "img-fluid" src = "{{url_for('static', filename='image2/Rectangle 14.png')}}"></div>
            </section>
            

            <section id = "step-two" class = "steps col-sm-4 text-center">
                <img class = "img-fluid" src = "{{url_for('static', filename='image/Edit.png')}}" width = "100" height = "100">
                <h3>Step 2</h3>
                <p>Fill using your details</p>
                <div class = "line visible-sm visible-md visible-lg"><img class = "img-fluid" src = "{{url_for('static', filename='image2/Rectangle 14.png')}}"></div>
            </section>
            

            <section class = "steps col-sm-4 text-center">
                <img class = "img-fluid" src = "{{url_for('static', filename='image/download.png')}}" width = "100" height = "100">
                <h3>Step 3</h3>
                <p>Download and stun your employees</p>
            </section>
        </div>

        <div class = "text-center resume-btn">
            <a id = "build-resume" href = "{{url_for('main.resume')}}">build my resume</a>
        </div>

    </div>

    





    <!-- jQuery (Bootstrap JS plugins depend on it) -->
    <script src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>